{% extends "base.html" %}

{% block content %}
<div class="content-container">
    <h1>About</h1>
    <div class="about-container">
    <div class="text-container">
    <p>Welcome to Shaver Consulting Co., your trusted partner for comprehensive IT solutions in the Coachella Valley. We specialize in delivering top-notch services tailored to meet the unique needs of businesses and individuals in our community. With a focus on reliability, efficiency, and innovation, we are dedicated to helping you achieve your technology goals.</p>
        <p>Our Services</p>
        <ul>
        <li>Networking: From design to implementation, we ensure your network is robust, secure, and efficient. Whether it's a small office or a large enterprise, our networking solutions keep your business connected and running smoothly.</li>
        <br>
        <li>Servers: We offer server setup, maintenance, and management services to ensure your critical business applications are always available and performing optimally. Our expertise includes on-premises servers and cloud-based solutions.</li>
        <br>
        <li>Websites: Our web development services range from creating stunning, responsive websites to managing and updating your online presence. We ensure your website is not only visually appealing but also functional and user-friendly.</li>
        <br>
        <li>Minor Development: Need custom software or a small application? We handle minor development projects to create solutions that fit your specific needs, enhancing your productivity and efficiency.</li>
        <br>
        <li>Automation: Automate repetitive tasks and streamline your business processes with our automation services. We implement solutions that save you time and reduce errors, allowing you to focus on what matters most.</li>
        <br>
        <li>AV (Audio-Visual): From conference room setups to event support, our AV services ensure your presentations and meetings are seamless and impactful. We provide the latest technology to enhance your audio-visual experience.</li>
        </ul>
        <p>Why Choose Us?</p>
        <p>At Shaver Consulting Co., we pride ourselves on our commitment to excellence and customer satisfaction. Our approach is personalized, ensuring we understand your needs and deliver solutions that exceed your expectations. With years of experience and a passion for technology, we are your go-to IT consultant in the Coachella Valley.</p>
    </div>
    <div class="photo-container">
        <img src="/static/img/1.jpg">
        <img src="/static/img/2.jpg">
        <img src="/static/img/3.jpg">
    </div>    
    </div>
</div>
{% endblock %}
